nav {
  @media screen and (min-width: 1000px) {
    display: none;
  }
  svg, img {
    @include icon {
      margin-right: 24px;
    };
  }
  .scrim {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
  }
  .nav__container {
    width: 224px;
    height: 100%;
    overflow-y: scroll;
    background-color: var(--white-color);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    .guide__wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      .guide__tab, footer {
        padding: 12px 0;
      }
      .tab1__item, .tab2__item, .tab4__item {
        height: 40px;
        padding: 0 24px;
        display: flex;
        align-items: center;
      }
      .tab3 {
        padding: 16px 32px;
      }
      .footer__item {
        padding: 0 24px;
        font-size: var(--font-small);
      }
    }
  }
}
